// resources/windows/log_generator_cli.rc
#include <windows.h>

#include "loggen_version.h"
#include "presentation/windows_resource.hpp"

#define LOGGEN_FILE_DESCRIPTION "LogGenerator Command Line"
#define LOGGEN_INTERNAL_NAME "LogGeneratorCli"
#define LOGGEN_ORIGINAL_FILENAME LOGGEN_CLI_ORIGINAL_FILENAME

#include "version_info.rcinc"

IDI_LOGGENERATOR ICON "log.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "log_generator_cli.manifest"
